@model List<GymManager.Core.Members.Member>
@{
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Start of Membership</th>
            <th scope="col">End of Membership</th>
            <th scope="col">Mail</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <th scope="row">@member.MemberName</th>
                <td>@member.MemberStart.ToString("dd/MM/yyyy")</td>
                <td>@member.MemberEnd.ToString("dd/MM/yyyy")</td>
                <td>@member.MemberEmail</td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-info" asp-route-memberID="@member.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-memberID="@member.Id">Delete</a>
                    

                </td>
            </tr>
        }

    </tbody>
</table>