@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using WebCors.Example.Client.Utils
@model IndexModel
@inject IStringLocalizer<IndexModel> localizer;
@inject IHtmlLocalizer<IndexModel> htmlLocalizer;
@inject IClaimPrincipalManager principalManager;


@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@localizer.GetString("Welcome")</h1>
    @htmlLocalizer.GetHtml("LearnAbout")

    <h1 class="alert-success">@principalManager.IsAuthenticated</h1>

    <form method="post">
        <button type="submit">Consumir Api del clima</button>
    </form>

    <button type="button" id="ajaxButton">Consumir Api con Ajax</button>
</div>

@section Scripts {
    <script>
        $("#ajaxButton").click(function () {
            $.ajax({
                type: 'GET',
                url: "",
                "headers": {
                    "Authorization": "Bearer " + getCookie("authname")
                },
                contentType: "application/json",
                dataType: "json",
                processData: false,
                success: function (data) {
                    debugger;
                    console.log(data);
                }
            })
        });

        function getCookie(cookieName) {
            let cookie = {};
            document.cookie.split(';').forEach(function (el) {

            })
        }
    </script>
}

<table class="table">
    @foreach (var f in Model.WeatherForecasts)
    {
        <tr>
            <td>@f.Date</td>
            <td>@f.Summary</td>
            <td>@f.TemperatureC</td>
            <td>@f.TemperatureF</td>
        </tr>
    }
</table>

<h1>Client Side</h1>

<table class="table" id="clientTable">

</table>

@section Scripts {
    <script>
        $.get("https://localhost:44305/WeatherForecast", function (data, status) {
            alert("Data: " + data + "\nStatus: " + status);
        });
    </script>
}